.detail
    
    .button-list
        display: block
        margin-top: 20px

    .list-element
        border-bottom: 1px solid #000000
        display: block
        padding: 10px 0

        .thumbnail
            background-image: #DDDDDD
            cursor: pointer
            display: inline-block
            height: 60px
            width: 60px
            img 
                height: 100%
                width: 100%

        .image
            max-height: 50%
            max-width: 50%
            display: block

        .info
            display: inline-block
            padding: 0px 10px
            vertical-align: top
            .title 
                display: block
            .votes
                display: block

                .ups,
                .downs
                    display: block
                    span
                        display: inline-block
                        padding: 0 10px
                    button
                        cursor: pointer
                        display: inline-block
                        width: 100px

                .ups button
                    background-color: #9F9

                .downs button
                    background-color: #F55