<div class="detail">

  <div class="list-loading" *ngIf="!current">LOADING POST</div>

    <div class="list-element" *ngIf="current">

      <div class="thumbnail" (click)="seeDetail()">
        <img *ngIf="current.thumbnail" src="{{ current.thumbnail }}">
      </div>
    
      <div class="info">
        <span class="title" (click)="seeDetail()">{{ current.title }}</span>
        <div class="votes">
          <button class="ups" (click)="voteUp()"></button>
          <div class="votes-numbers"><span>{{ current.ups }}</span> / <span>{{ current.downs }}</span></div>
          <button class="downs" (click)="voteDown()"></button>
        </div>
      </div>

      <img class="image" *ngIf="current.url" src="{{ current.url }}">
    
    </div>
  
  <button class="button-list" (click)="navigateToList()">BACK TO LIST</button>

</div>