<div class="list-element" >

  <div class="thumbnail" (click)="seeDetail()">
    <img *ngIf="data.thumbnail" src="{{ data.thumbnail }}">
  </div>

  <div class="info">
    <span class="title">{{ data.title }}</span>

    <div class="votes">
        <div class="ups">
          <button (click)="voteUp()">UP</button>
          <span>{{ data.ups }}</span>
        </div>
        <div class="downs">
          <button (click)="voteDown()">DOWN</button>
          <span>{{ data.downs }}</span>
        </div>
    </div>
    
  </div>

</div>